
{{!-- Abstracting out the javascript --}}
<script type="text/javascript" src="/assets/js/editRoom.js"></script>
{{!-- Create a new room form --}}
<form id="edit-room-form">
    <h4>Edit a Study Room</h4>
    <div class="form-group">
        <label for="roomName">Please update the room name below</label>
        <input type="text" class="form-control" id="roomName" placeholder="Please enter name of room" value="{{name}}">
    </div>

    {{!-- Available/ Not Available Status --}}
    {{!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="status" id="available" value="true" {{#if status}} checked {{/if}}>
        <label class="form-check-label" for="available">Available</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="status" id="unavailable" value="false" {{#unless status}} checked {{/unless}}>
        <label class="form-check-label" for="unavailable">Not Available</label>
    </div> --}}

    <button class="button expanded" id="submit-edit-room">Submit Change</button>
</form>

