{{!-- Rooms Dashboard Heading --}}
<div class="landing-page">
 <h1 id="title-heading">
        The Reserve: A college study room reservation system
</h1>
{{!-- <button class="first"><a href="/rooms">Enter the Website</a></button> --}}
<div class= "first-div">
        <a href="/rooms" class="first">Proceed to Website</a>
        </div>
</div>
<script src="/assets/js/disclaimer.js"></script>