<<<<<<< HEAD

    <h1>
      The Reserve: Rooms Dashboard
      <a href="#" class="button round">Create a Room</a>
    </h1>
    <table class="dashboard-table">
      <colgroup>
        <col width="150" />
        <col width="80" />
        <col width="200" />
        <col width="60" />
        <col width="220" />
        <col width="170" />
      </colgroup>
      <thead>
        <tr>
          <th>
            <a href="#">Rooms<i class="fa fa-caret-down"></i></a>
          </th>
          <th>
            <a href="#">Room Status<i class="fa fa-caret-down"></i></a>
          </th>
          <th>
            <a href="#">Options<i class="fa fa-caret-down"></i></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="flex-container align-justify align-top">
              <div class="flex-child-shrink">
                <img
                  class="dashboard-table-image"
                  src="https://lorempixel.com/50/50/people/"
                />
              </div>
              <div class="flex-child-grow">
                <h6 class="dashboard-table-text">Example Room Name</h6>
                <!-- <span class="dashboard-table-timestamp">03/04/2017</span> -->
              </div>
            </div>
          </td>
          <td>VACANT</td>
          <td class="bold">
            <a href="#" class="button round">Check-In</a>
            <a href="#" class="button round">Edit Room</a>
            <a href="#" class="button round">Delete Room</a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="flex-container align-justify align-top">
              <div class="flex-child-shrink">
                <img
                  class="dashboard-table-image"
                  src="https://lorempixel.com/50/50/people/"
                />
              </div>
              <div class="flex-child-grow">
                <h6 class="dashboard-table-text">A Person</h6>
                <!-- <span class="dashboard-table-timestamp">03/04/2017</span> -->
              </div>
            </div>
          </td>
          <td>Single Line</td>
          <td class="bold">A Bold Line</td>
        </tr>
      </tbody>
    </table>
=======
<h1>This is the home page!</h1>
<a href="/rooms" class="button round">Book a room!</a>
>>>>>>> d7f3e81359bf6abfe24dd5e347f68ddc5b912308
