<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Reserve: Rooms-List</title>
    <!-- Compressed CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
      integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>
      The Reserve: Rooms Dashboard
      <a href="#" class="button round">Create a Room</a>
    </h1>
    <table class="dashboard-table">
      <colgroup>
        <col width="150" />
        <col width="80" />
        <col width="200" />
        <col width="60" />
        <col width="220" />
        <col width="170" />
      </colgroup>
      <thead>
        <tr>
          <th>
            <a href="#">Rooms<i class="fa fa-caret-down"></i></a>
          </th>
          <th>
            <a href="#">Room Status<i class="fa fa-caret-down"></i></a>
          </th>
          <th>
            <a href="#">Options<i class="fa fa-caret-down"></i></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="flex-container align-justify align-top">
              <div class="flex-child-shrink">
                <img
                  class="dashboard-table-image"
                  src="https://lorempixel.com/50/50/people/"
                />
              </div>
              <div class="flex-child-grow">
                <h6 class="dashboard-table-text">Example Room Name</h6>
                <!-- <span class="dashboard-table-timestamp">03/04/2017</span> -->
              </div>
            </div>
          </td>
          <td>VACANT</td>
          <td class="bold">
            <a href="#" class="button round">Check-In</a>
            <a href="#" class="button round">Edit Room</a>
            <a href="#" class="button round">Delete Room</a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="flex-container align-justify align-top">
              <div class="flex-child-shrink">
                <img
                  class="dashboard-table-image"
                  src="https://lorempixel.com/50/50/people/"
                />
              </div>
              <div class="flex-child-grow">
                <h6 class="dashboard-table-text">A Person</h6>
                <!-- <span class="dashboard-table-timestamp">03/04/2017</span> -->
              </div>
            </div>
          </td>
          <td>Single Line</td>
          <td class="bold">A Bold Line</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
