{{!-- Rooms Dashboard Heading --}}
    <h1 id="title-heading">
        The Reserve
    </h1>
{{!-- Instructions and Check-In Button --}}
    <div  id="instructions">
        <p>To get started, click the Create a Room button to make the name of the study room you would like to check
            into.</p>
        <a href="/new" class="button round">Create a Room</a>
        <p>The Room Status will tell you if a room is available or occupied. After you leave a study room, click
            sanitize to have it cleaned up and ready for the next group to use!</p>
    </div>

{{!-- Link to the Javascript for index page --}}
