
<!-- <h1>Hello world!</h1> -->

<div class="row">
    
  <div class="small-2 large-4 columns">
      
      Gold Room</div>
      <div class=""card-image>
          <img src="https://p1cdn4static.civiclive.com/UserFiles/Servers/Server_15414356/Image/Meeting%20Rooms/Foothills%20Library%20Study%20Room.jpg" alt="">
      </div>
  <section class="small-4 large-4 columns float small-button-right">
      <button>Edit </button>
      <button> Delete</button>
  </section>
</div>
  <section class="small-6 large-4 columns float small-button-right">
      
    <button> Available</button>
    <button> Unavailable</button>
  </section>

  </div>

  <div class="small-2 large-4 columns">
    Silver Room</div>
    <div class=""card-image>
        <img src="https://p1cdn4static.civiclive.com/UserFiles/Servers/Server_15414356/Image/Meeting%20Rooms/Foothills%20Library%20Study%20Room.jpg" alt="">
    </div>
<section class="small-4 large-4 columns float small-button-right">
    <button>Edit </button>
    <button> Delete</button>
    
</section>
</div>
<section class="small-6 large-4 columns float small-button-right">
  <button> Available</button>
  <button> Unavailable</button>
</section>

</div>
<div class="small-2 large-4 columns">
    Platinum Room</div>
    <div class=""card-image>
        <img src="https://p1cdn4static.civiclive.com/UserFiles/Servers/Server_15414356/Image/Meeting%20Rooms/Foothills%20Library%20Study%20Room.jpg" alt="">
    </div>
<section class="small-4 large-4 columns float small-button-right">
    <button>Edit </button>
    <button> Delete</button>
</section>
</div>
<section class="small-6 large-4 columns float small-button-right">
  <button> Available</button>
  <button> Unavailable</button>
</section>

</div>





