{{!-- Create a new room form --}}
<form>
    <div class="form-icons">
        <h4>Create a New Study Room</h4>

        <div class="input-group">
            <span class="input-group-label">
                <i class="fa fa-user"></i>
            </span>
            <input class="input-group-field" id="new-room-name" type="text" placeholder="Room name">
        </div>


        <button class="button expanded" id="submit-new-room">Create Room</button>
</form>


{{!-- Abstracting out the javascript --}}
<script type="text/javascript" src="/assets/js/newRoom.js"></script>