<h1 id="title-heading">
        The Reserve: Create a New Room
</h1>
{{!-- Instructions--}}
    <div  id="instructions">
        <p>Type in the name of the room you want to create and click "Create Room."
            After you return to the Rooms Dashboard, click check-in if the room you created is still available.
        </p>
    </div>
{{!-- Create a new room form --}}
<hr>
<form id="new-room-form">
    <div class="form-icons">
        <div class="input-group">
            <span class="input-group-label">
                <i class="fa fa-user"></i>
            </span>
            <input class="input-group-field" id="new-room-name" type="text" placeholder="Put new room name here">
        </div>


        <button class="button expanded" id="submit-new-room">Create Room</button>
</form>

<script src="/assets/js/newRoom.js"></script>
