

<form id="new-room-form">
    <h4>
        Create a New Room
    </h4>
{{!-- Instructions--}}
<<<<<<< HEAD
    <p>Type in the name of the room you want to create and click "Create Room." You will be redirected to the Rooms Dashboard and reserve the room you like.
    </p>
=======
    <div  id="instructions">
        <p> Enter the name of a room, then click "Create Room." Return to the Rooms Dashboard for check-in.
        </p>
    </div>
>>>>>>> 2af190c3f73c5f826a0aeec7d559e91c1e1c8522
{{!-- Create a new room form --}}
    <div class="form-icons">
        <div class="input-group">
            <span class="input-group-label">
                <i class="fa fa-user"></i>
            </span>
            <input class="input-group-field" id="new-room-name" type="text" placeholder="Put new room name here">
        </div>


        <button class="button round" id="submit-new-room">Create Room</button>
</form>

<script src="/assets/js/newRoom.js"></script>
