/* CSS for the rooms-dashboard.handlebars page */
.dashboard-table {
    border-collapse: collapse;
    margin-bottom: 0;
  }
  
  .dashboard-table td {
    border-bottom: 1px dashed #d7d7d7;
  }
  
  .dashboard-table a {
    color: #242424;
  }
  
  .dashboard-table .bold {
    color: #0a0a0a;
    font-weight: 600;
  }
  
  .dashboard-table thead {
    background: none;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    color: #8a8a8a;
    font-size: 0.8rem;
  }
  
  .dashboard-table thead a {
    color: #8a8a8a;
  }
  
  .dashboard-table tbody {
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }
  
  .dashboard-table tbody tr {
    transition: all 0.5s ease;
  }
  
  .dashboard-table tbody tr:hover {
    background: #fcf7da;
    transition: all 0.5s ease;
  }
  
  .dashboard-table tbody tr:nth-child(even) {
    background: none;
  }
  
  .dashboard-table tr:last-child td {
    border-bottom: 0;
  }
  
  .dashboard-table-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  
  .dashboard-table-timestamp {
    color: #9a9a9a;
    font-size: 0.9rem;
    font-weight: 400;
  }
  
  .dashboard-table-image {
    display: inline;
    margin-right: 1rem;
    margin-top: 0.6rem;
    max-width: none;
  }
  
  /* CSS for the Create a new room (new-room.handlebars page) */


form .form-icons {
  text-align: center;
}

form .form-icons h4 {
  margin-bottom: 1rem;
}

form .form-icons .input-group-label {
  background-color: #1779ba;
  border-color: #1779ba;
}

form .form-icons .input-group-field {
  border-color: #1779ba;
}

form .form-icons .fa {
  color: white;
  width: 1rem;
}

body {
  margin: 20px auto;
  font-family: 'Lato';
  font-weight: 300;
  width: 600px;
  text-align: center;
}

/* Styling for the start button */
button {
  background: cornflowerblue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Lato';
  margin: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: orange;
}