/* CSS background for the landing page */
body {
  background-image: url(/assets/img/college_library5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-attachment: fixed;
}

.landing-page {
  text-align: center;
}

#title-heading {
  padding-top: 50px;
  text-align: center;
  color: #050141;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  font-style: oblique;
  backdrop-filter: blur(20px);
  padding-bottom: 5px;
  width: 50%;
  margin: 0 auto;
}

/* CSS for the rooms dashboard page */

.dashboard-table {
  /* padding-left: 150px; */
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dashboard-table th {
  text-align: center;
}

.dashboard-table td {
  border-bottom: 1px dashed #d7d7d7;
}

.dashboard-table a {
  color: white;
  font-weight: 600;
}

.dashboard-table thead {
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  color: #8a8a8a;
  font-size: 0.8rem;
}

.dashboard-table thead a {
  color: #8a8a8a;
}

.dashboard-table tbody {
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.dashboard-table tbody tr {
  transition: all 0.5s ease;
}

.dashboard-table tbody tr:hover {
  background: #fcf7da;
  transition: all 0.5s ease;
}

.dashboard-table tbody tr:nth-child(even) {
  background: none;
}

.dashboard-table tr:last-child td {
  border-bottom: 0;
}

.dashboard-table-text {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.dashboard-table-timestamp {
  color: #9a9a9a;
  font-size: 0.9rem;
  font-weight: 400;
}

.create-room {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.check-in-btn {
  font-weight: 600;
  color: white;
}

.check-in-btn:hover {
  color: white;
}

/* CSS for the create room page */

form .form-icons {
  text-align: center;
}

form .form-icons h4 {
  margin-bottom: 1rem;
}

form .form-icons .input-group-label {
  background-color: #1779ba;
  border-color: #1779ba;
}

form .form-icons .input-group-field {
  border-color: #1779ba;
}

form .form-icons .fa {
  color: white;
  width: 1rem;
}

/* room reservation page background */

#instructions {
  text-align: center;
  background-image: url(/assets/img/college_library5.jpg);
}

#instructions ul {
  width: 50%;
  margin: 0 auto;
  backdrop-filter: blur(20px);
  padding: 10px;
  padding-top: 25px;
  font-weight: bold;
}

/* CSS for new room page */
#new-room-form {
  backdrop-filter: blur(20px);
  color: #0a023b;
  font-size: 25px;
  padding: 30px;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 5px;
  transform: translateY(50%);
}

#new-room-form p {
  font-size: 20px;
  color: #000;
}

/* CSS for edit room page */
#edit-room-form {
  backdrop-filter: blur(20px);
  color: #0a023b;
  font-size: 25px;
  padding: 30px;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 5px;
  transform: translateY(50%);
}

#edit-room-form label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

/* modal css  */
body.swal2-shown > [aria-hidden="true"] {
  filter: blur(10px);
}

body > * {
  transition: 0.1s filter linear;
}

.first {
  background: cornflowerblue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-family: "Lato";
  margin-top: 20px;
  text-transform: uppercase;
  outline: none;
  text-align: center;
}

.first:hover {
  color: white;
}

.first-div {
  margin-top: 25px;
}
